<h1>
  About The Todo Application
  <h1></h1>
</h1>
<p>
  ToDo is a task management app to help you stay organized and manage your
  day-to-day/future Goals. You can use this app to make task lists with time and
  work on acheiving those on time
</p>

<h1>How to Use the app</h1>
<pre>
  1> Register if you are new user or else login.
  2> Create your todo list with targeted time.
  3> YOu can subscribe To Mail if you want mails in case of target not comple or new features added in app.
</pre>

<h1>Source Code For the app</h1>
<pre>
  Angular code for frontend :  <a href="https://github.com/ShivanshuBohra/Angular_FULLSTART-Part1-" target="_blank">click here</a> or use https://github.com/ShivanshuBohra/Angular_FULLSTART-Part1-
  SpringBoot code for backend :  <a href="https://github.com/ShivanshuBohra/Backend_FULLSTACK_PART2" target="_blank">click here</a> or use https://github.com/ShivanshuBohra/Backend_FULLSTACK_PART2
  My github repo created for self learning : <a href="https://github.com/ShivanshuBohra" target="_blank">click here</a>  or use https://github.com/ShivanshuBohra
</pre>

<h1>Below AWS Services used for Deployment and Notification</h1>
<pre>
  Amazon Web Services are used to deploy the application:
  1> For DB > AWS RDS : To create mySql instance
  2> For UI > AWS S3 Buckets are used to deploy Angular code
  3> For Backend > AWS Elastic Beanstack is used to deploy or Spring boot Application
  4> For Email Subscription : AWS SNS is used
</pre>
